.data {
          
    border-collapse: collapse;
  }
  .a
    {
       line-height: 1.6 ;
    }
body{
  background-color:#49cad6d6;
  }
  .horizontalLine{
      border-style: dotted none none;
      width:5%;
  }
  h3, h1{
    color: #13005A;
  } 
  img{
    background-color: chartreuse;
  }
 .bacon:hover
  {
    background-color: lightblue;
  }
  .brocoli
{
  background-color: blue;
}
#heading{
  color: rgb(236, 12, 12);
}
